
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 35px;
  border-radius: 80px;
  margin: 20px 20px 10px 25px;
  float: left;
}
.App-header {
  background: linear-gradient(to right,#ffd901a1,  rgba(5, 95, 143, 0.103));
  position: absolute;
  top: 0;
  width: 100%;
  height: 67px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 3;
}
h1 {
  margin: 15px 0 0 30px;
  text-align: left;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  /* font-family: 'Bungee', cursive; */
  font-family: 'Cabin Sketch', cursive;
  /* font-family: 'Raleway Dots', cursive; */
  /* font-family: 'Gruppo', cursive; */
  /* font-family: 'Love Ya Like A Sister', cursive; */
  /* font-family: 'Bubblegum Sans', cursive; */
  /* font-family: 'Londrina Outline', cursive;  */
}
h2 {
  font-size: 1.2em;
  margin: 0;
  font-family: 'Cabin Sketch', cursive;
}
h2.subhead1 {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1s;
  font-size: 1.6em;
}
h2.subhead2 {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 2s;
  font-size: 1.6em;
}
h2.subhead3 {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 3s;
  font-size: 1.6em;
}
h3 {
  font-size: 1.3em;
  color: #5f5102;
}
.h3animate:hover {
  animation: bounce 0.5s forwards;
}
a {
  text-decoration: none;
  color: black;
}
#heroes {
  /* background-color: rgb(33, 82, 33); */
  background-color: #055F8F;
  width: 100%;
  min-height: 423px;
  display: block;
}
.background {
  margin: 0;
  width: 637px;
  float: right;
  z-index: 0;
}
#heroes-text {
  display: flex;
  direction: column;
  width: 390px;
  float: left;
}
.left-para {
  margin: 140px 0 0 65px;
  width: 40px;
  float: left;
  color: white;
  font-size: 1.8em;
  line-height: 1.5;
}
.right-para {
  margin: 140px 0 0 120px;
  width: 130px;
  color: white;
  font-size: 1.2em;
}
mark {
  background-color: #ffd901e7;
  border-radius: 5px;
}
.mapArea {
  position: absolute;
  top: 85vh;
  left: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#map {
  height: 100%;
  position: absolute;
  top: 50vh;
}
#article-main {
  display: block;
}
.container {
  margin-top: 0px; 
  display: flex; 
  direction: column;
  z-index: 2;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: inset #055F8F 0 0 10px;
}
.colA {
  float: left;
}
.colR {
  float: right;
}
.extra {
  height: 500px;
}
button {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 8px 7px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-weight: bold;
	padding: 5px 5px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #3d768a;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
button:active {
	position:relative;
	top:1px;
}
/* Keyframes */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateZ(0px);
  } 
  50% {
    transform: translateZ(5px);
  } 
  100% {
    transform: translateZ(0);
  }
}